arrow==1.2.2
asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
cryptography==37.0.4
cx-Oracle==8.3.0
cycler==0.11.0
defusedxml==0.7.1
Django==4.1
django-allauth==0.51.0
django-cors-headers==3.13.0
django-filter==22.1
django-rest-auth==0.9.5
djangorestframework==3.13.1
eland==8.3.0
elastic-transport==8.1.2
elasticsearch==7.16.3
et-xmlfile==1.1.0
ez-setup==0.9
Flask==2.1.2
fonttools==4.37.1
future==0.18.2
holidays-co==1.0.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
marshmallow==3.17.0
matplotlib==3.5.3
numpy==1.23.2
oauthlib==3.2.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
pandasticsearch==0.6.0
Pillow==9.2.0
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
pyTenable==1.4.7
python-box==6.0.2
python-dateutil==2.8.2
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2022.2.1
requests==2.28.1
requests-oauthlib==1.3.1
restfly==1.4.6
semver==2.13.0
six==1.16.0
sqlparse==0.4.2
tabulate==0.8.9
tenable-io==1.13.1
thehive4py==1.8.1
typing_extensions==4.3.0
tzdata==2022.2
unicode==2.9
Unidecode==1.3.4
urllib3==1.26.12
Werkzeug==2.1.2
zipp==3.8.0
